@using ComiteCompartido.Dtos.Usuarios
@model IEnumerable<UsuarioListadoDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestion de Usuarios</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="bi bi-plus"></i> Agregar Nuevo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    <form asp-action="Edit" method="get" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-warning btn-sm" title="Editar">
                            <i class="bi bi-pencil"></i> Editar
                        </button>
                    </form>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                            <i class="bi bi-trash"></i> Eliminar
                        </button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
